<%- include('../header') %>
<div class="container my-5 py-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <form method="post" action="/ingredients/edit/<%= ingredients.id %>">
        <div class="mb-3">
          <label for="">Name</label>
          <input type="text" value="<%= ingredients.name %>" class="form-control" placeholder="Input Name" name="name" />
        </div>
        <div class="mb-3">
          <label for="">Price</label>
          <input type="text" value="<%= ingredients.price %>" class="form-control" placeholder="Price number only" name="price" />
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../footer') %>
