<%- include('../header') %>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" href="#">Resto<span class="text-secondary opacity-50">Kita</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/restaurants">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/foods">Foods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold border-bottom border-2 border-dark" aria-current="page" href="/ingredients"><i class="fa-solid fa-wheat-awn me-1"></i> Ingredient</a>
        </li>
      </ul>

      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill fs-5"></i> <span class="opacity-50">Hi!, owner</span></button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- /Navbar -->

<div class="container my-5">
  <div class="row border border-light-subtle p-5 rounded-3">
    <div class="col">
      <div class="row">
        <div class="col-6"><h3 class="fw-bold">Ingredients Page</h3></div>
        <div class="col-6 text-end">
          <button type="button" class="btn btn-primary fw-bold opacity-75" data-bs-toggle="modal" data-bs-target="#addNew" data-bs-whatever="@mdo">Add New +</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% ingredients.forEach((ingredient, id) => { %>
            <tr>
              <th scope="row"><%= 1+id %></th>
              <td><%= ingredient.name %></td>
              <td>Rp. <%= ingredient.price %></td>
              <td>
                <a class="btn btn-sm btn-danger opacity-80" href="/ingredients/delete/<%= ingredient.id %>"> <i class="fa-solid fa-trash-can"></i> </a>

                <a class="btn btn-sm btn-warning opacity-80" href="/ingredients/edit/<%= ingredient.id %>"> <i class="fa-sharp fa-solid fa-pen-to-square"></i> </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- AddNew Modal -->
  <div class="modal fade" id="addNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Ingredient</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="/ingredients/create">
            <div class="mb-3">
              <label for="">Name</label>
              <input type="text" class="form-control" placeholder="Input Name" name="name" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!-- end -->


  <%- include('../footer.ejs'); -%>

