<%- include('../header.ejs') %>
<div class="container my-5 py-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <form method="post" action="/foods/edit/<%= foods.id %>">
        <div class="mb-3">
          <label for="">Name</label>
          <input type="text" value="<%= foods.name %>" class="form-control" placeholder="Input Name" name="name" />
        </div>
        <div class="mb-3">
          <label for="">Image url</label>
          <input type="text" value="<%= foods.image %>" class="form-control" placeholder="Input Name" name="image" />
        </div>
        <div class="mb-3">
          <label for="">Price</label>
          <input type="text" value="<%= foods.price %>" class="form-control" placeholder="Input Name" name="price" required />
        </div>
        <div class="mb-3">
          <label for="">Cabang Restaurant</label>
          <select class="form-select" name="restaurantId" required>
            <option disabled selected hidden value="">Pilih opsi</option>
            <% resto.forEach(item => { %> <% if (foods.restaurantId === item.id) { %>
            <option selected value="<%= item.id %>"><%= item.name %></option>
            <% } else { %>
            <option value="<%= item.id %>"><%= item.name %></option>
            <% } %> <% }) %>
          </select>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../footer') %>
